button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 15px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }
  
  .personaje {
    p {
      border-radius: 15px;
      padding: 15px;
      background-color: rgb(0, 255, 0);
      color: black;
      margin-bottom: 20px;
  
    }
  
    h1 {
      border-radius: 15px;
      padding: 15px;
      background-color: rgb(0, 255, 0);
      color: rgb(0, 0, 0);
      margin-bottom: 10px;
      color: black;
    }
  
    background-color: rgb(0, 0, 0);
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    height: 43rem;
  
    img {
      align-items: center;
      width: 150px;
      height: 150px;
  
      border-radius: 15px;
      padding: 15px;
      background-color: rgb(0, 255, 0);
      color: rgb(0, 0, 0);
      margin-bottom: 10px;
  
    }
  }